#/******
 #* QT *
 #******/

qdarkstyle/

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

#/***************
# * ATMELSTUDIO *
# ***************/

## Ignore Atmel Studio temporary files and build results
# https://www.microchip.com/mplab/avr-support/atmel-studio-7

# Atmel Studio is powered by an older version of Visual Studio,
# so most of the project and solution files are the same as VS files,
# only prefixed by an `at`.

# Visual Studio 2015/2017 cache/options directory
.vs/

# Build Directories
[Dd]ebug/
[Rr]elease/

# Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

# User Specific Files
*.atsuo

#/*********
# * KICAD *
# *********/

# Fichiers temporaires.
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Fichiers de netlist (exported from Eeschema).
*.net

# Fichiers d'autoroutage (exporté depuis Pcbnew).
*.dsn
*.ses

# Fichier de BOM exportés.
*.xml
*.csv

# Dossier de backups KiCad.
*-backups